            #map {
                position: absolute;
                /* Set the size of the div element that contains the map */
                height: 100%;
                width: 100%;
            }
            
            body {
                /* Map will cover all the web page in height */
                height: 100vh;
                /* Map will cover all the web page in width */
                width: 100%;
                /* The web page will have no margins or padding - full map */
                margin: 0;
                padding: 0
            }
            /* This image will be displayed when the user zoon in a region */
            
            #currentRegionWeather {
                /* Display over map at a specific position */
                position: absolute;
                right: 50px;
                bottom: 15px;
            }
            /* Bottom left buttons */
            
            .btn-custom {
                /* Display over map at a specific position */
                position: absolute;
                /* Arrange button on middle */
                right: 10px;
                /* Arrange button on bottom */
                bottom: 0;
                /* Arrange button over map */
                z-index: 50;
                /* Limit the icon resolution */
                width: 40px;
                border-radius: 5px;
            }
            /* This button will hide/show all markers in the map */
            
            #btnHideMarkers {
                bottom: 185px;
            }
            /* This button will enabled/disable location tracking */
            
            #btnEnableLocationTracking {
                bottom: 232px;
            }
            /* This button will enable location */
            
            #btnEnableLocation {
                bottom: 277px;
            }
            /* The table is created in every InfoWindow of a marker */
            
            #welcomeRegion {
                position: absolute;
                left: -360px;
                bottom: 2rem;
                width: 320px;
                max-height: 20%;
                padding: 20px;
                vertical-align: middle;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.75);
                color: white;
            }
            
            .welcomeMessageStart {
                animation-name: welcomeMessageAnimationStart;
                animation-duration: 2s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            
            @keyframes welcomeMessageAnimationStart {
                from {
                    transform: translate(-360px);
                }
                to {
                    transform: translate(360px);
                }
            }
            
            .welcomeMessageEnd {
                animation-name: welcomeMessageAnimationEnd;
                animation-duration: 2s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            
            @keyframes welcomeMessageAnimationEnd {
                from {
                    transform: translate(360px);
                }
                to {
                    transform: translate(-360px);
                }
            }
            
            table {
                /* All data is aranged in the middle of the cell */
                text-align: center;
                font-size: 14px;
                /* The cells are united - no space between them */
                border-collapse: collapse;
                /* Text color for the whole InfoWindow */
                color: white;
                /* Fixed width for InfoWindow */
                width: 400px;
                /* Fixed height for InfoWindow */
                height: 150px;
            }
            /* The collumns of the InfoWindow */
            
            td,
            th {
                padding: 10px 5px 10px 5px;
                /* Arrang data in middle - horizontal */
                width: 33.33333%;
                /* Arrange data in middle - vertical */
                vertical-align: middle;
            }
            /* The head of the table - the region and its weather */
            
            th {
                background-color: rgba(0, 128, 0, 0.9);
            }
            /* The region data is separed by a different color */
            
            td {
                background-color: rgba(79, 138, 31, 0.9);
            }
            
            #infoWindowPredictionsChild {
                border: 1px solid black;
                padding: 0 0 0 0;
            }
            /* The image of temperature and humidity from prediction card */
            
            #infoWindowPredictionsChild tr td img {
                width: 25%;
            }
            /* The weather image from prediction card */
            
            #infoWindowPredictionsChild tr th img {
                width: 40px;
            }
            /* Air quality bar */
            
            #myProgress {
                /* The width of the bar inside the table */
                width: 80%;
                /* Center in middle - horizontal */
                margin: auto;
                /* Center in middle - vertical */
                vertical-align: middle;
                /* Background for the bar */
                background-color: grey;
            }
            /* Inside the air quality bar */
            
            #myBar {
                /* The width inside the bar is the actual data - ex: 5% pollution air */
                width: 0%;
                /* The background inside the bar will be in dependence of data - 0% green and 100% red */
                background-image: linear-gradient( to right, rgba(0, 255, 0, 0.5), rgba(128, 128, 0, 0.5));
                /* Align the text inside (x%) in the middle of the bar */
                text-align: center;
                vertical-align: middle;
            }
            /* InfoWindow body */
            
            .gm-style .gm-style-iw {
                /* Remove the padding - the table will cover the InfoWindow */
                padding: 0;
                /* Hide the InfoWindow body */
                background-color: transparent;
            }
            /* Remove right and bottom white bars from InfoWindow - caused by scrollbars */
            
            .gm-style-iw-d {
                overflow: hidden !important;
            }
            
            #corrupted_data_infowindow {
                padding: 5% 5% 5% 5%;
                background-color: red;
                margin: auto;
            }
